.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .featureImage {
    max-width: 150px;
  }
}

@media (max-width: 400px) {
  .featureImage {
    max-width: 120px;
  }
}
